.tab-content.chat-personal
  if getAllFriend.length
    each user, index in getAllFriend
      if index === 0
        .tab-pane.active.chat(id=`${user._id}`)
          .chat-header.clearfix
            img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg' alt='avatar')
            .chat-about
              .chat-with=`Chat with ${user.username}` 
              .chat-num-messages already 1 902 messages
            i.fa.fa-star
          // end chat-header
          .chat-history
            ul.container-message(data-chat=`${user._id}`)
              
          // end chat-history
          .chat-message.clearfix
            textarea#message-to-send(name='message-to-send' data-send-text=`${user._id}` placeholder='Type your message' rows='3' )
            i.fa.fa-file-o
            i.fa.fa-file-image-o
            button#send-message(data-send-text=`${user._id}`) Send
          // end chat-message


  